@{
    ViewData["Title"] = "Home Page";
}

<header class="text-center">
    <h1 class="display-4">Social Network</h1>
    <h2>By James Patrick Arellano</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
