@using WebApp.Models
@model List<Post>

<!DOCTYPE html>

<html>
<head>
    <title>Social Network</title>
</head>
<body>
    <h1>Social Network</h1>

    @foreach (var post in Model)
    {
        <div>
            <p>Author: @post.Username</p>
            <p>Time Elapsed: @post.GetElapsedTime()</p>
            <p>Likes: @post.Likes people like this.</p>
        </div>
    }
</body>
</html>
